{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks|length == 0  %}
                <p>You have no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for task in tasks %}
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }} </td>
                        <td>
                            {% if task.is_complete %}
                                Done
                            {% endif %}
                            </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </main>

{% endblock content %}
